.all {
  display: flex;
  font-family: "IBM Plex Sana Thai Looped", sans-serif;
  color: white;
  /* background: linear-gradient(179deg, #176eb5, #d545d7); */
  background: rgb(222, 66, 66);
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
      rgba(230, 45, 57, 1) 33%,
      rgba(0, 212, 255, 1) 73%);
  text-shadow: 1px 0px 2px #8dc4f0;
}

.body_container {
  flex: 1;
}

.sidebar_container {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.lines_icon {
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
}

.profile {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile>img {
  width: 100%;
  border-radius: 20%;
}

.groups {
  display: flex;
  flex-direction: column;
  width: 100%;
   padding: 6px 10px 6px 0px;
  
}



h3 {
  font-size: 1rem;
  margin: 10px 0px 10px 0px
}