.bubble{
    width: 1500x;
    height: 800px;
    border: 1px solid rgb(175, 171, 171); 
    padding: 2px;
    padding-top: 1px;
    
    
   margin-top: 7%;
   margin-left: 1%;
   margin-right: 2%;
   

    
}
table.even{
	border-collapse:collapse;
    background-color: rgb(33, 1, 29);
}
table.even tr:nth-child(2n+2){
	background:rgb(15, 14, 14);
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  th {
    background-color: #0c0a3f;
    color: white;
  }
  th,
  td {
    width: 300px;
    text-align: center;
    border: 1px;
    padding: 16px;
    
  }
  
  .remark-approved{
    color: green;
    font-weight: 500;
  }

  .remark-reject{
    color: red;
    font-weight: 500;
  }

  .remark-pending{
    color: yellow;
    font-weight: 500;
  }

